name: Main - Deploy e Build no Render

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      version:
        description: 'Escolha o número da revisão'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt    

      - name: Buildar projeto
        run: |
          echo "Não é necessário build para Flask"
          
  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch'

    steps:
    - name: Check out the repository
      uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt    

    - name: Buildar projeto
      run: |
        echo "Não é necessário build para Flask"
        
    - name: Render Deploy
        env:
          RENDER_API_KEY: rnd_fVO0O2yMDZz57tw38XQVWK39aX9D
          RENDER_SERVICE_ID: ct3mi568ii6s73d7p0pg
        run: |
          curl -X POST \
            -H "Authorization: Bearer rnd_fVO0O2yMDZz57tw38XQVWK39aX9D" \
            -d '{"branch": "main"}' \
            https://api.render.com/deploy/srv-ct3mi568ii6s73d7p0pg?key=qbPKEFjenw0
